#!/bin/bash
export LC_ALL="en_US.UTF-8"
# see https://stackoverflow.com/questions/492483/setting-the-correct-encoding-when-piping-stdout-in-python
export PYTHONIOENCODING="utf-8"

MAIL_TO="{{mail_to}}"
CHECK_APT_APP="{{check_apt_updates_dir | regex_replace('/$')}}/check_updates.py"
PY_EXEC="{{ check_apt_python_executable }}"

$PY_EXEC $CHECK_APT_APP mail --headers --to $MAIL_TO --html | /usr/sbin/sendmail -t -i